<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 요청하신 작업을 처리할 수 없습니다
        form(action="/postList" method="get")
            input(type="submit" , value="HOME")